<div class="row" style="background-color:#f3f3f3" id="wrapper">
<div class="col-sm-12" id="first-col" style="">
		<div class="card" id="first-card" style="">
			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						Code
					</div><!-- col -->
					<div class="col-md-6 text-right">
						<span class="float-right">
							<button class="btn btn-sm btn-success" id="compile_button">Compile <i class="fa fa-gears" aria-hidden="true"></i></button>
						</span>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- card-header -->
			<div id="editor"><%= @code %></div>
		</div><!-- card -->

		<div class="card" id="second-card" style="" data-compile-path="<%= welcome_compile_path %>">
		<div class="card-header">
			Compiler Output
		</div><!-- card-header -->
		<pre><span id="compiler_cmd">$ <%= @cmd %></span>
<span id="compiler_output"><%= @compiler_output %></span></pre>
		</div><!-- card -->

</div><!-- col-md-6 -->
</div><!-- row -->



<script>
var initDiffView = function(i,j){
	$('#example-' + i + '-' + j).removeAttr('hidden');
	$('#patch-' + i).data('examples-shown', j+1);
	var total = parseInt($('#patch-'+i).data('examples-count'));
	var shown = parseInt($('#patch-'+i).data('examples-shown'));
	var remaining = total - shown;
	if(remaining > 0){
		suffix = ' more example';
		if (remaining > 1){
			suffix = suffix + 's';
		} 
		$('#examples-button-' + i).html(remaining + suffix);
		$('#examples-button-' + i).attr("onclick", 'initDiffView(' + i + ',' + (j+1) + ')');
	} else {
		$('#examples-button-' + i).prop('hidden', 'true');
	}
}

function htmlEncode(value){ 
  return $('<div/>').text(value).html(); 
	//return value;
} 

//Returned JSON object should have
//cmd, output, error message
var compile = function(){
	$('#compiler_cmd').html('Compiling...');
	$('#compiler_output').html('');
	var code = ace.edit('editor').getSession().getValue();
	
	$.ajax({
		type: "post",
		url: $('#second-card').data('compile-path'),
		dataType: 'json',
		//data: JSON.stringify({buggy: code}), 
		data: {code: code}, 
		success: function(json){
			//update compiler output
			$('#compiler_cmd').html(htmlEncode('$ ' + json.cmd));
			console.log('json.output');
			console.log(json.output);
			var parts = json.output.split('fatal error:');
			console.log('parts');
			console.log(parts);
			if(parts.length >= 2){
				var prefix = htmlEncode(parts[0]);
				var fe = '<span style="color:red">fatal error:</span>';
				var message = '<b>' + json.message + '</b>';
				var suffix = htmlEncode(parts[1].split(json.message));
				var colored_output = prefix + fe + ' ' + message + suffix;
				$('#compiler_output').html(colored_output);
			} else {
				$('#compiler_output').html(json.output);
			}
		}
	});
};



$(document).ready(function(){
	var editor = ace.edit('editor')
	var textarea = $('#code');
	textarea.val(editor.getSession().getValue());
	editor.getSession().on("change", function(){
		textarea.val(editor.getSession().getValue());
	});
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/c_cpp");
	editor.setOption("showPrintMargin", false)

	var fix_count = parseInt($('#third-card').data('fixes-count'));
	for(var i = 0; i < fix_count; i++){
		//var ex_count = parseInt($('#examples-'+i).data('examples-count'));
		var ex_count = 1;
		console.log('ex_count='+ex_count);
		for(var j = 0; j < ex_count; j++){
			(function(f,e){initDiffView(f,e)})(i,j);
		}
	}
	
	var set_height = function(){
		console.log('set_height()');
		var window_height = $(window).height();
		console.log(window_height);
		var navbar_height = $('#main-nav').outerHeight();
		var wrapper_height = window_height - navbar_height;
		$('#main-content').height(window_height - navbar_height);
		wrapper_height = wrapper_height;
		if($(window).width() > 754){
			$('#wrapper').height(wrapper_height);
			$('#first-card').height(wrapper_height * (2/4) - 25);
			$('#second-card').height(wrapper_height * (2/4) - 25);
		} else {
			$('#wrapper').height(800);
			$('#first-row').height(800);
			$('#second-row').height(200);
			$('#first-col').height(200);
			$('#second-col').height(600);
		}
	};

	
	set_height();
	$(window).resize(set_height);
	compile();	

	$('#compile_button').click(function(e) {
		e.preventDefault();
		compile();	
	});
	
}); //ready()


</script>
