<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12">
<br>
	<div class="text-center">
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item">
		<%= link_to "Consent Form", evaluations_consent_path, class: "nav-link active" %>
		</li>
		<li class="nav-item">
		<%= link_to "Questionnaire", evaluations_questionnaire_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Tutorial", evaluations_tutorial_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Tasks", evaluations_tasks_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Final Questionnaire", evaluations_questionnaire_final_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Exit", evaluations_thank_you_path, class: "nav-link" %>
		</li>
	</ul>
	</div>
<br>
<div class="container">
	<div class="card">
		<div class="card-header">Consent Form</div>
		<div class="card-block">

		<%= render 'consent_form' %>

		<!-- form to print name, date, and email -->
		<%= form_tag(evaluations_record_consent_path, method: "post", class: "form") do %>
			<div class="form-group">
				<%= label_tag(:name, "Type your full name") %>
				<%= text_field_tag(:name, nil, class: "form-control", required: true) %>
			</div>
			<div class="form-group">
				<%= label_tag(:date, "Enter today's date (MM/DD/YYYY)") %>
				<input type="text" id='date' class='form-control' name='date' required='required'>
			</div>
			<div class="form-group">
				<%= label_tag(:email, "Type the email where you want us to send the gift card") %>
				<%= email_field_tag(:email, nil, class: "form-control", required: true) %>
			</div>
			<div class="form-group">
				<%= label_tag(:code, "Enter the code provided to you during recruitment") %>
				<%= text_field_tag(:code, nil, class: "form-control", required: true) %>
			</div>

			<%= submit_tag("Submit", class: "btn btn-primary btn-block") %>
		<% end %>

		</div><!-- card-block -->
	</div><!-- card -->
</div><!-- container -->
<br>
</div>
</div>

<script>
$(document).ready(function(){
	$( "#date" ).datepicker();
});
</script>
