<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12">
<br>
	<div class="text-center">
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item">
		<%= link_to "Consent Form", evaluations_consent_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Questionnaire", evaluations_questionnaire_path, class: "nav-link active" %>
		</li>
		<li class="nav-item">
		<%= link_to "Tutorial", evaluations_tutorial_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Tasks", evaluations_tasks_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Final Questionnaire", evaluations_questionnaire_final_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Exit", evaluations_thank_you_path, class: "nav-link" %>
		</li>
	</ul>
	</div>
<br>
<div class="card">
<div class="card-header">
Questionnaire
</div>
	<div class="card-block">

	<p>Please answer the following questions.</p>

	<!-- form to print name, date, and email -->
	<%= form_tag(evaluations_record_questionnaire_path, method: "post", class: "form") do %>
		<div class="form-group">
			<%= hidden_field_tag(:started, @questionnaire["started"], class: "form-control", hidden: true) %>
		</div>
		
		
		<div class="form-group">
			<label class="form-label">1. I am a:</label>
			<%= select_tag("education", options_for_select(@education.to_a, @questionnaire["education"]), {:include_blank => true, class: "form-control", required: true}) %>
		</div>


		<div class="form-group">
			<label class="form-label">2. I have _____ years of C++ programming experience.</label>
			<%= number_field_tag(:cppexpyears, @questionnaire["cppexpyears"], class: "form-control", required: true, step: 0.25) %>
		</div>
		
		
		<fieldset class="form-group row">
			<legend class="col-form-legend col-sm-10">3. I have taken an university (or high school) course where C++ programming was required.</legend>
			<div class="col-sm-2">
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<%= radio_button_tag 'cppcourse', 't', @questionnaire["cppcourse"] == "t", required: true, class: "form-check-input" %>
						True	
					</label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<%= radio_button_tag 'cppcourse', 'f', @questionnaire["cppcourse"] == "f", required: true, class: "form-check-input" %>
						False	
					</label>
				</div>
			</div>
		</fieldset>
		
		<fieldset class="form-group row">
			<legend class="col-form-legend col-sm-2">4. I consider myself:</legend>
			<div class="col-sm-10">
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel', '0', @questionnaire["cppexplevel"].to_i == 0, required: true, class: "form-check-input" %>
				Not familiar with C++	
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel', '1', @questionnaire["cppexplevel"].to_i == 1, required: true, class: "form-check-input" %>
				Slightly familiar with C++	
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel', '2', @questionnaire["cppexplevel"].to_i == 2, required: true, class: "form-check-input" %>
					Familiar with C++	
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel', '3', @questionnaire["cppexplevel"].to_i == 3, required: true, class: "form-check-input" %>
					Very familiar with C++	
				</label>
			</div>
			</div>
		</fieldset>

		<fieldset class="form-group row">
			<legend class="col-form-legend col-sm-2">5. I identify as a:</legend>
			<div class="col-sm-10">
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<%= radio_button_tag 'gender', 'm', @questionnaire["gender"] == "m", required: true, class: "form-check-input" %>
						Male
					</label>
				</div>
				<div class="form-check form-check-inline">
				<label class="form-check-label">
						<%= radio_button_tag 'gender', 'f', @questionnaire["gender"] == "f", required: true, class: "form-check-input" %>
						Female
					</label>
				</div>
				<div class="form-check form-check-inline">
				<label class="form-check-label">
						<input type="radio" class="form-check-input" name="gender" id="optionsRadios3" value="o" required='required'>
						Other
					</label>
				</div>
			</div>
		</fieldset>


		<%= submit_tag("Submit", class: "btn btn-primary btn-block") %>
	<% end %>

	</div><!-- card-block -->
</div><!-- card -->
<br>
</div>
</div>
