<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12">
<br>
	<div class="text-center">
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item">
		<%= link_to "Consent Form", evaluations_consent_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Questionnaire", evaluations_questionnaire_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Tutorial", evaluations_tutorial_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Tasks", evaluations_tasks_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		<%= link_to "Final Questionnaire", evaluations_questionnaire_final_path, class: "nav-link active" %>
		</li>
		<li class="nav-item">
		<%= link_to "Exit", evaluations_thank_you_path, class: "nav-link" %>
		</li>
	</ul>
	</div>
<br>
<div class="card">
<div class="card-header">
Final Questionnaire
</div>
	<div class="card-block">

	<p>Please answer the following questions.</p>

	<!-- form to print name, date, and email -->
	<%= form_tag(evaluations_record_questionnaire_final_path, method: "post", class: "form") do %>

		<div class="form-group">
			<label class="form-label">Generally, how helpful were the compiler error messages?</label>
			<%= select_tag("overall_cem", options_for_select(@scale.to_a, @q["overall_cem"]), {:include_blank => true, class: "form-control", required: true}) %>
		</div>

		<div class="form-group">
			<label class="form-label">Generally, how helpful were the suggested patches and examples?</label>
			<%= select_tag("overall", options_for_select(@scale.to_a, @q["overall"]), {:include_blank => true, class: "form-control", required: true}) %>
		</div>

		<div class="form-group">
			<label class="form-label">If applicable, what specifically did you find helpful?</label>
			<%= text_area_tag("specific", @q['specific'], class: "form-control", required: true) %>
		</div>

		<div class="form-group">
			<label class="form-label">What improvements would you like to see implemented?</label>
			<%= text_area_tag("improvements", @q['improvements'], class: "form-control", required: true) %>
		</div>
	

			
		<fieldset class="form-group row">
			<legend class="col-form-legend col-sm-6">After completing the study, I consider myself:</legend>
			<div class="col-sm-6">
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel_final', '0', @q["cppexplevel_final"].to_i == 0, required: true, class: "form-check-input" %>
				Not familiar with C++	
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel_final', '1', @q["cppexplevel_final"].to_i == 1, required: true, class: "form-check-input" %>
				Slightly familiar with C++	
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel_final', '2', @q["cppexplevel_final"].to_i == 2, required: true, class: "form-check-input" %>
					Familiar with C++	
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<%= radio_button_tag 'cppexplevel_final', '3', @q["cppexplevel_final"].to_i == 3, required: true, class: "form-check-input" %>
					Very familiar with C++	
				</label>
			</div>
			</div>
		</fieldset>


		<%= submit_tag("Submit", class: "btn btn-primary btn-block") %>
	<% end %>

	</div><!-- card-block -->
</div><!-- card -->
<br>
</div>
</div>
