<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="container">
<br>
<div class="text-center">
<ul class="nav nav-pills nav-fill">
	<li class="nav-item">
	<%= link_to "Consent Form", evaluations_consent_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Entry Questionnaire", evaluations_questionnaire_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tutorial", evaluations_tutorial_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tasks", evaluations_tasks_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Final Questionnaire", evaluations_questionnaire_final_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Exit", evaluations_thank_you_path, class: "nav-link active" %>
	</li>
</ul>
</div>
<br>
<div class="card">
	<div class="card-header">
		<h1>Thank you</h1>
	</div>
	<div class="card-block">
		<p>Thank you for participating!  Plese confirm that you have completed all tasks.  Afterward, the study has concluded.</p>
		
		<p>We will email you your gift card within a couple of weeks.</p>
		
		<p>Sincerely,<br>Martin Velez</p>

	</div><!-- card-block -->
</div><!-- card -->
</br>


</div>
</div>
</div>
