<%= form_for([@compiler, diagnostic_message]) do |f| %>
  <% if diagnostic_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diagnostic_message.errors.count, "error") %> prohibited this diagnostic_message from being saved:</h2>

      <ul>
      <% diagnostic_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%# f.label :compiler_id %>
    <%= f.hidden_field :compiler_id, value: @compiler.id %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control" %>
  </div>

  <div class="form-group">
    <%# f.label :created_by %>
    <%= f.hidden_field :created_by, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
