<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<br>
<div class="card">
<div class="card-block">
	<p style="margin:0">
	<%= link_to(@compiler.name, compiler_path(@compiler)) %>
	/ Diagnostic Messages
	</p>
</div><!-- card-block -->
</div><!-- card -->


<br>
<div class="card">
<div class="card-block" style="padding-top:0">
<table class="table table-striped table-sm" style="border-top:0">
  <thead>
    <tr>
      <th>ID</th>
      <!--<th>Name</th>-->
      <th>Message</th>
      <th class="text-right">Examples</th>
			<th class="text-right">Bing Search Results</th>
    </tr>
  </thead>

  <tbody>
    <% @dms.each do |dm| %>
      <tr>
        <td><%= link_to dm.id, compiler_diagnostic_message_path(@compiler, dm) %></td>
        <!--<td><%= truncate(dm.name) %></td>-->
        <td><%= truncate(dm.message, length: 50) %></td>
        <td class="text-right"><%= dm.examples.size %></td>
        <td class="text-right"><%= dm.bing_search_result_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
	<div class="page_info">
		<%= page_entries_info @dms %>
	</div>
	<div class="row justify-content-center">
	<%= will_paginate @dms %>
	</div>
</div>

</div><!-- card-block -->
</div><!-- card -->

</div> <!--row -->
</div> <!--col -->
