<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<dl class="row">
					<dt class="col-sm-4">Uncompilable Code</dt>
					<dd class="col-sm-8">This code triggers a compiler error.</dd>

					<dt class="col-sm-4">Uncompilable Code + Fix</dt>
					<dd class="col-sm-8">This code shows the insertions/deletions you can make to the uncompilable code to make it compilable.</dd>

					<dt class="col-sm-4"><ins>Lime text</ins></dt>
					<dd class="col-sm-8">Insert the highlighted characters.</dd>

					<dt class="col-sm-4"><del>Yellow text</del></dt>
					<dd class="col-sm-8">Delete the highlighted characters.</dd>

				</dl>
      </div>
			<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
			-->
    </div>
  </div>
</div>

<div class="row" style="height:3rem;border-bottom:1px solid lightgrey">
	<div class="col-sm-12 my-auto">
  <p style="margin:0">
		<%= link_to(@diagnostic_message.compiler.name, compiler_path(@diagnostic_message.compiler)) %>
		/ <%= link_to("Templates", compiler_templates_path(@diagnostic_message.compiler)) %>
		/ <%= link_to(@diagnostic_message.template.id, compiler_template_path(@diagnostic_message.compiler, @diagnostic_message.template)) %>
		/ <%= link_to("Diagnostic Messages", compiler_diagnostic_messages_path(@diagnostic_message.compiler)) %>
		/ <%= @diagnostic_message.id %>
	</p>
	</div>
</div>

<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<br>
<div class="card">
	<div class="card-block" style="padding: 0.25rem 0.5rem">
		<ul class="list-group list-group-flush">
			<li class="list-group-item justify-content-between" style="padding:0.5rem">
				Message: <span><%= @diagnostic_message.message %></span>
			</li>
			<li class="list-group-item justify-content-between" style="padding:0.5rem">
				Template: <span style="margin:0"><%= @diagnostic_message.template.template %></span>
			</li>
			<li class="list-group-item justify-content-between" style="padding:0.5rem">
				Name: <span style="margin:0"><%= @diagnostic_message.name %></span>
			</li>
			<li class="list-group-item justify-content-between" style="padding:0.5rem">
				Examples: <span style="margin:0"><%= @diagnostic_message.examples.size %></span>
			</li>
			<li class="list-group-item justify-content-between" style="padding:0.5rem">
				Contributor: <span><img src="<%=@diagnostic_message.creator.image_url %>?sz=25" class="rounded-circle float-sm-right"></img></span>
			</li>
		</ul>
	</div>
</div>


<br>
<div class="card">
	<div class="card-block" style="padding: 0.25rem 0.5rem">

	<p style="margin-bottom:0">Showing <span id="ex-count" data-ex_count="<%= @diagnostic_message.examples.size %>" style="font-weight:bold"><%= @diagnostic_message.examples.size %></span> examples fixes.
	<span class="float-sm-right"><a href="" data-toggle="modal" data-target="#myModal">Help <i class="fa fa-question-circle" aria-hidden="true"></i></a></span></p>
	</div>
</div>

<style>
	.card-group {
		border: 1px solid transparent;
	}
	.card-group:hover {
		border: 1px solid black;
	}
	.card-header {
		color: lightgrey;
		/*background-color: white*/
	}

	.card-header p {
		margin: 0;
	}
	.card-group:hover .card .card-header {
		color: black;
	}
	.card-group .card a{
		color: lightgrey;
	}
	.card-group:hover .card a{
		color: #0275d8;
	}
</style>

<br>
<% @diagnostic_message.examples.each_with_index do |ex,i| %>
<div class="card-group" data-example-path="<%= compiler_diagnostic_message_example_url(@diagnostic_message.compiler, @diagnostic_message, ex) %>">
		<div class="card">
		<!--<div class="card-header" style=";padding:0.25rem 1.25rem"><i class="fa fa-times-circle" aria-hidden="true" style="color:red"></i> Buggy Code</div>-->
		<div class="card-header" style=";padding:0.25rem 0.5rem;">
			<p>
			Uncompilable
			</p>
		</div>
		<%= content_tag :pre, ex.buggy, id: "left-editor-#{i}", data: {code: ex.buggy}, style: "height:100%;padding-bottom:0" %>
	</div>

	<div class="card">
		<div class="card-header" style=";padding:0.25rem 0.5rem;">
			<p>
			Fix
			<span class="float-sm-right">
			<%= link_to(compiler_diagnostic_message_example_path(@diagnostic_message.compiler, @diagnostic_message, ex)) do %>
				More <i class="fa fa-info-circle" aria-hidden="true"></i>
			<% end %>
			</span>
			</p>
		</div>
		<%= content_tag :pre, nil, id: "right-editor-#{i}", data: {code: ex.fixed}, style: "height:100%;padding-bottom:0" %>
	</div>
</div>	


<br>
<% end %>
<div class="card">
	<div class="card-header" style=";padding:0.25rem 0.5rem;color:lightgray">Name</div>
	<div class="card-block" style="padding:1rem">
		<%= @diagnostic_message.name %>
	</div>
</div>
<br>

<p>
<%= link_to new_compiler_diagnostic_message_example_path(@diagnostic_message.compiler, @diagnostic_message), class: "btn btn-block btn-primary" do %>
	New Example <i class="fa fa-plus" aria-hidden="true"></i>
<% end %>
</p>

<p>
<%= link_to 'Edit this Diagnostic Message', edit_compiler_diagnostic_message_path(@diagnostic_message.compiler, @diagnostic_message), class: "btn btn-block btn-secondary" %>
</p>
<p>
<%= link_to 'Back to All Diagnostic Messages', compiler_diagnostic_messages_path(@diagnostic_message.compiler), class: "btn btn-block btn-secondary" %>
</p>
<br>

</div>
</div>

<script>
var initDiffView = function(i){
	var val1 = $('#left-editor-'+i).data('code');
	var val2 = $('#right-editor-'+i).data('code');
	//console.log('val1');
	//console.log(val1);
	//console.log('val2');
	//console.log(val2);
	var dmp = new diff_match_patch();
	var diff = dmp.diff_main(val1, val2);
	//console.log(diff);
	var ds = dmp.diff_prettyHtml(diff);
	document.getElementById('right-editor-'+i).innerHTML = ds;
}

$(document).ready(function(){
	var funcs = [];
	var ex_count = parseInt($('#ex-count').data('ex_count'));
	for(var i = 0; i < ex_count; i++){
		(function(j){initDiffView(j)})(i);
	}
});

/*
$('.card-group').on('click', function(){
	var sel = getSelection().toString();
	console.log('sel');
	console.log(sel);
	if(sel.length == 0){
		var url = $(this).data('example-path');
		window.location = url;
	}
});
*/


</script>
