<% if @compilation_status == 0 %>
	<div class="text-center">
	<p>Compilation was successful!</p>
	<p class='text-success'>
		<i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
	</p>
	</div>
<% else %>


<% @fixes.each_with_index do |fix, i| %>
	<div class="card" id="patch-<%= i %>" style="overflow:auto;margin-bottom:10px" data-examples-count="<%= @fix_examples[i].size %>" data-examples-shown="0">
		<div class="card-header" style="">
			<div class="row">
				<div class="col-md-8">
					<% fix.split(', ').each do |inst| %>
						<% if inst.split(' ').length == 2 %>
							<span class="inst">
							<%= inst.split(' ')[0] %> 
							<span class="" style="font-weight:bold"><%= inst.split(' ')[1].cpp_token_to_lexeme %></span>
							</span>&nbsp;
						<% else %>
							<%= inst %>
						<% end %>
					<% end %>
				</div>
				<div class="col-md-4 text-right" style="padding-right:5px">
					<small class='text-muted'>
					<% if @ae_scores[fix] == 1 %>
						Autoexperiment success? <i class="fa fa-check-square-o" aria-hidden="true"></i>
					<% else %>
						Autoexperiment success? <i class="fa fa-square-o" aria-hidden="true"></i>
					<% end %>
					<%= i + 1 %></small>
				</div>
			</div>
		</div><!-- card-header -->
		<div class="card-block" style="padding:10px">
		<% @fix_examples[i].each_with_index do |ex,j| %>
			<div class="card" style="border:1px solid rgba(0,0,0,0.125);margin-bottom:10px"
id="example-<%= i %>-<%= j %>" hidden="true">
				<span class="card-floater" style="position:absolute;top:0;right:5px">
					Example <%= ex.id %>	
				</span>
				<%= Diffy::Diff.new(ex.buggy,ex.fixed, include_plus_and_minus_in_html: true).to_s(:html).html_safe %>
			</div><!-- card -->
		<% end %>
		</div><!-- card-block -->
		<div class="card-footer" style="background-color:transparent">
			<button id="examples-button-<%= i %>" class="btn btn-secondary btn-sm btn-block" 
				onclick="initDiffView(<%= i %>,2)">
				<%= @fix_examples[i].size - i %> more examples
			</button>
		</div><!-- card-footer -->
	</div><!-- card -->
<% end %><!-- fixes.each -->

<% end %> <!-- if compiles -->
