<%= form_for(compiler) do |f| %>
  <% if compiler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compiler.errors.count, "error") %> prohibited this compiler from being saved:</h2>

      <ul>
      <% compiler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :family %>
    <%= f.text_field :family %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :created_by %>
    <%= f.number_field :created_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
