<div class="row">
	<div class="col-md-3" style="background-color:lightgrey">
		<img src="<%= @user.image_url %>" class="img-responsive" alt="<%= @user.name %>" style="width:100%;padding-top: 5px;">
	</div>

	<div class="col-md-9">
		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>

		<p>
			<strong>Name:</strong>
			<%= @user.name %>
		</p>

		<p>
			<strong>First name:</strong>
			<%= @user.first_name %>
		</p>

		<p>
			<strong>Last name:</strong>
			<%= @user.last_name %>
		</p>

		<p>
			<strong>Location:</strong>
			<%= @user.location %>
		</p>


		<p>
			<strong>Url:</strong>
			<%= @user.url %>
		</p>

		<p>
			<strong>Admin:</strong>
			<%= @user.admin %>
		</p>

	</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
