<p id="notice"><%= notice %></p>

<h1>Compilation Events</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Code</th>
      <th>Output</th>
      <th>Command</th>
      <th>Error</th>
      <th>Event</th>
      <th>Examples count</th>
      <th>Fixes count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compilation_events.each do |compilation_event| %>
      <tr>
        <td><%= compilation_event.user_id %></td>
        <td><%= compilation_event.code %></td>
        <td><%= compilation_event.output %></td>
        <td><%= compilation_event.command %></td>
        <td><%= compilation_event.error %></td>
        <td><%= compilation_event.event %></td>
        <td><%= compilation_event.examples_count %></td>
        <td><%= compilation_event.fixes_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

