<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12" style="padding:0">

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
  <li class="breadcrumb-item"><%= link_to "Snippets", snippets_path %></li>
  <li class="breadcrumb-item active"><%= @snippet.id %></li>
</ol>
<div class="container">

<div class="card">
<div class="card-block">

<div class="card">
<div class="card-header">Snippet</div>
<pre><%= @snippet.snippet %></pre>
<div class="card-footer">Source: <%= @snippet.source %></div>
</div>

<br>

<div class='card'>
<div class="card-header">Compilation Status = <%= @snippet.compilation["status"] %></div>
<pre><%= @snippet.compilation["output"]%></pre>
<div class="card-footer">
<%= link_to @snippet.diagnostic_message.message, compiler_diagnostic_message_path(@snippet.diagnostic_message.compiler, @snippet.diagnostic_message) %>
<%= @snippet.diagnostic_message_id %>
</div>
</div>

<br>

<div class='card'>
<div class="card-header">Tokens</div>
<div class='card-block'>
<%= @snippet.tokens %>
</div>
</div>

<br>

<div class='card'>
<div class="card-header">Notes</div>
<div class='card-block'>
<%= @snippet.notes %>
</div>
</div>

<br>

<div class='card'>
<div class='card-block'>
<p>Updated At: <%= @snippet.updated_at.to_formatted_s(:long) %></p>
<p>Created At: <%= @snippet.created_at.to_formatted_s(:long) %></p>
</div>
</div>

<br>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>

</div><!-- card-block -->
</div><!-- card -->

<br>
</div>
</div>
</div>
